
/* Common Css */
* { margin: 0; padding: 0; box-sizing: border-box; }
ol, ul { list-style: none; }
img { display: block; max-width: 100%; }

button{border: none;cursor:pointer}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CACACA;
    font-weight: 400;
    font-size: 17px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CACACA;
    font-weight: 400;
    font-size: 17px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #CACACA;
    font-weight: 400;
    font-size: 17px;
}
  
body { font-size: 18px; position: relative; font-family: "Raleway"; overflow-x: hidden; letter-spacing: 0.02em;}
a { text-decoration: none; }
.relative{position: relative;}

.bg_common { background: #F7F9FB; }
.bg_white { background: #fff; }

.text_white { color: #fff; }
.text_black { color: #08111E; }
.bg_btn{background: #D9B872;}
.font_secondary { font-family: "Poppins"; }

h1 { font-weight: 700; font-size: 56px; line-height: 66px; }
h2 { font-weight: 600; font-size: 45px; line-height: 55px; }
h3 { font-weight: 700; font-size: 38px; line-height: 40px; }
h4 { font-weight: 600; font-size: 32px; line-height: 45px; }
h5 { font-weight: 700; font-size: 24px; line-height: 30px; }
h6 { font-weight: 500; font-size: 20px; line-height: 30px; }
p{color: #8C8C8C;}
.hm_container { max-width: 1257px; padding: 0 10px; width: 100%; margin: 0 auto; }
/* Align */
.hm_text-center { text-align: center; }
.hm_text-right { text-align: right; }

/* Flex classess */
.hm_inline_block{display: inline-block;}
.hm_flex { display: flex; }
.hm_inline_flex { display: inline-flex; }
.hm_flex-wrap { flex-wrap: wrap; }
.hm_flex-column { flex-direction: column; }
.hm_align-center { align-items: center; }
.hm_content-end { justify-content: flex-end; }
.hm_content-center { justify-content: center; }
.hm_content-between { justify-content: space-between; }

/* Grid */
.hm_grid { display: grid; }
.hm_grid.grid_two{ grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));  grid-gap: 32px;}
.hm_grid.grid_three{ grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));  grid-gap: 20px;}
   
/* Spacing */
.mr_25{margin-right: 25px;}
.mr_20{margin-right: 20px;}

.w_50{width: 49%;}
.w_100{width: 100%;}
.common_section{padding: 102px 0;}

.btn{padding: 17px 28px; text-align: center;display: inline-block;transition: 0.2s ease;font-weight: 700;cursor: pointer;min-width: 156px;}
.btn_dark{background: #0A182C;}
.btn_dark:hover, .btn_active{background: #D9B872;border: transparent;}
.btn_active_light{background: rgba(217, 184, 114, 0.2);}
.btn_active_light:hover, .btn_active:hover{background: #000;}

.bg_dark{background: #0A182C;color: #fff;}
/* Header */
.mob_menu{display: none;}
.header{background: #0A182C url("./../images/homeBanner.png") no-repeat center bottom; background-size: cover;position: relative;padding-bottom: 30px;}
.header::before{position: absolute;content: "";background: #0A182C; width: 100%;height: 100%;inset: 0;opacity: 0.9;}
.header a img{margin-right: 10px;}
.header a{font-size: 17px;}
.header_top{padding: 21px 0;}
.header_logo{padding: 138px 0;}
.header_right a:last-child img{margin-right: 0;}
.header_menu li{padding: 5px 10px; margin: 0 15px;}
.header_menu li:first-child{margin-left: 0;}
.header_menu li:last-child{margin-right: 0;}
.header_menu li a{text-transform: uppercase;font-size: 15px; font-weight: 700;}

.mob_menu.active .line:nth-child(1) { transform: translateY(9px) rotate(45deg); }
.mob_menu.active .line:nth-child(2) { opacity: 0; }
.mob_menu.active .line:nth-child(3) { transform: translateY(-9px) rotate(-45deg); }


/* Detail section */
.detail_inner h3{font-weight: 700; font-size: 29px;color: #08111E;}
.detail_inner p{margin-bottom: 20px;color: #8C8C8C;}
.detail_inner p:last-child{margin-bottom: 0;}

/* Products */
.max_994{max-width: 994px;width: 100%;}
.max_879{max-width: 879px;width: 100%;}

.product_top h1{margin-bottom: 16px; }
.product_top p{color: #8C8C8C;}
.title_top h2{    font-weight: 700; font-size: 56px; line-height: 66px; margin-bottom: 16px;}
.title_top{margin-bottom: 20px;}

.gallay_box{position: relative;}
.gallay_box:after{position: absolute;content: ""; bottom: 0;width: 100%;height: 57%;background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 81.77%);;}
.gallay_img img{max-height: 539px;height: 100%;object-fit: cover;width: 100%;}
.gallary_content{position: absolute;bottom: 0; left: 0; width: 100%; padding: 25px 22px 20px; z-index: 2;}
.gallary_content h5{text-transform: uppercase;}
.gallary_content a{text-transform: uppercase;font-weight: 600; font-size: 12px; line-height: 20px;}
.gallary_row_inner{margin-bottom: 25px;}

.gallary_banner{background: url("./../images/gallaryBanner.jpg") no-repeat center;background-size: cover; padding:84px 0;position: relative;}
.gallary_banner::before{position: absolute;content: "";background: #0A182C; width: 100%;height: 100%;inset: 0;opacity: 0.9;}
.gallary_banner_content{max-width: 932px;width: 100%;}
.buttons_actions{text-align: right;}
.buttons_actions a{margin-bottom: 12px;}
.buttons_actions a:last-child{margin-bottom: 0;}

.service_box {padding: 45px 38px;}
.service_box img{margin: 0 auto 15px;}
.service_box_content h5{margin-bottom: 10px;font-size: 22px; line-height: 30px;}
.service_box_content p{font-size: 16px; line-height: 28px;}

/* Contact  Form */
.contact_form{max-width: 56%;width: 100%;}
.field{margin-bottom: 13px;box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);}
.field input, .field textarea, .field select { background: #fff; padding: 16px 19px; width: 100%; border: transparent; font-size: 17px; line-height: 24px; outline: none; color: #7B7B7B; font-family: "Poppins"; }
.submit_field input{ border: transparent; }
.contact_img{ max-width: 40%; width: 100%; }

/* Footer */
footer{background: #1E3038; padding: 63px 0 77px;}
.footer_logo{max-width: 312px;width: 100%;margin-right: 103px;}
.logo_footer{margin-bottom: 20px;}
.footer_menu_row{margin-bottom: 15px;}
.footer_menu_row:last-child{margin-bottom: 0;}
.footer_menu_row h4{margin-bottom: 10px;font-weight: 700; font-size: 28px; line-height: 34px;letter-spacing: 0.04em;}
.footer_menu_row li{margin: 0 28px;}
.footer_menu_row li:hover a{color: #fff;}
.footer_menu_row li:first-child{margin-left: 0;}
.footer_menu_row li:last-child{margin-right: 0;}
.footer_menu_row  a{color: #A5ACAF;font-size: 17px; line-height: 20px;letter-spacing: 0.08em;margin-bottom: 8px;}
.footer_menu_row a img{margin-right: 10px;}


@media only screen and (max-width: 1140px) {
    
    .footer_menu_row li{margin: 0 10px 8px;}
}
@media only screen and (max-width: 991px) {
    h1,.title_top h2 { font-size: 46px; line-height: 56px; }
    h2 { font-size: 35px; line-height: 45px; }
    h3 { font-size: 32px; line-height: 40px; }
    h4 { font-size: 28px; line-height: 34px; }
    h5 { font-size: 20px; line-height: 30px; }
    h6 { font-size: 18px; line-height: 24px; }

    .common_section{padding: 80px 0;}
    .header_menu li{margin: 0 10px;}

    /* GallayBox */
    .gallary_content{padding:13px;}


    .footer_logo{margin-right: 0;}
    .footer_row{justify-content: space-between;}
}

@media only screen and (max-width: 900px) {
    .footer_row{flex-wrap: wrap;}
    .footer_logo{margin:0 auto 60px;}
    .footer_menus{width: 100%;text-align: center;}
    .footer_menu_row .hm_flex{justify-content: center;flex-wrap: wrap;}
    footer{padding: 56px 0 85px;}
}

@media only screen and (max-width: 767px) {
    h1,.title_top h2 { font-size: 38px; line-height: 44px; }
    h2 { font-size: 32px; line-height: 38px; }
    h3 { font-size: 30px; line-height: 36px; }
    h4 { font-size: 24px; line-height: 30px; }
    h5 { font-size: 17px; line-height: 23px; }
    h6 { font-size: 16px; line-height: 22px; }
    .hm_container{width: 96%;}
    .common_section{padding: 60px 0;}
    .w_50{width: 100%;}
    p{font-size: 15px;line-height: 22px;}
    .btn{padding:15px 18px;font-size: 15px;line-height: 20px;}
    .title_top h2{margin-bottom: 10px;}

    .header_top { padding: 11px 0; background: rgba(10, 24, 44, 0.8); }
    .header_left {display: none;}
    .mob_menu{display: flex; align-items: flex-end; flex-direction: column; padding: 12px; }
    .mob_menu .line { width: 20px; height: 3px; background-color: #D9B872; display: block; transition: all 0.2s ease-in-out; }
    .mob_menu .line:nth-child(2) { width: 12px; margin: 6px 0; }
    .header_logo{padding: 45px 0;}
    .header_menu{display: none;}
    .header_menu li{padding:0 10px;border-bottom: 1px solid #2a2a2a;transition: 0.2s ease-in;}
    .header_menu li:hover{background:#fff}
    .header_menu li:hover a{color: #000;}
    .header_menu li a{display: block;padding:10px;}
    .header .header_menu{position: absolute;top: 0;left: 0;width: 100%; background: #0A182C; margin: 0 auto; right: 0;} 
    .header .header_menu ul{flex-wrap: wrap;} 
    .header .header_menu ul li{width: 100%;margin: 0;} 

    .detail_inner {flex-wrap: wrap;}
    .detail_inner h3{margin-bottom: 20px;font-size: 22px;line-height: 30px;}
    .detail_inner p{margin-bottom: 15px;}

    .gallary_banner{padding:54px 0;}
    .gallary_banner_row {flex-wrap: wrap;}
    .gallary_banner_content{margin-bottom: 30px;}
    .gallary_row .hm_grid.grid_three {grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));}
    .buttons_actions{text-align: left;}

    .work_row.hm_grid.grid_three{    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));}

    .contact_row{flex-wrap: wrap;}
    .contact_img{display: none;}
    .contact_form{max-width: 100%;}
    .contact_form .w_100{flex-wrap: wrap;}

    footer{background:#0A182C;}
    .footer_menu_row a{font-size: 15px;line-height: 21px;}
    .footer_menu_row h4{font-size: 20px;line-height: 26px;}
}

@media only screen and (max-width: 480px) {
    .common_section{padding: 40px 0;}
    h1,.title_top h2 { font-size: 28px; line-height: 32px; }
    h2 { font-size: 24px; line-height: 30px; }
    h3 { font-size: 28px; line-height: 34px; }
    h4 { font-size: 22px; line-height: 28px; }
    h5 { font-size: 16px; line-height: 22px; }
    h6 { font-size: 15px; line-height: 21px; }
    footer{padding: 40px 0 40px;}

}